.top{
    background: #091a62;
    color: white;
    text-align: center;
    font-size: 15pt;
    width: 100%;
    padding: 20px;
}

img{
    
    width: 400px;
    height: 300px;
    margin: 0 auto;
    
}
p{
    text-align: center;
}
figure{
    width: 400px;
    height: 400px;
    margin: 0 auto;
    margin-bottom: 50px;
    border: solid 2px;
    padding: 10px 50px;
    text-align: center;
    
}
body{
    background: rgba(231, 255, 149, 0.36)
}
.fotos{
    margin-top: 50px; 
    margin: 0 auto;
    width: 600px;
}
